{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body onload="setup()">


    <div class="content-wrapper">
        <h3> Image Rekognizer </h3>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-6 img-section">
                <div class="upload-section">

                    <img id="output" src="{{ pic.image.url }}" >

                </div>
                <br>
{#                <form id='formid' method="post" action="{% url 'rekon:createimage' %}" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <input id='fileid' type='file' name='filename' hidden/>#}
{#                    <input id='buttonid' type='button' class="btn btn-success btn-md" value='Upload Image' />#}
{#                </form>#}
                <form id='formid' method="post" action="{% url 'rekon:createimage' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    <input type='file' name='image' id="id_image" hidden/>
                    <input id='buttonid' type='button' class="btn btn-success btn-md" value='Upload Image' />
                </form>


            </div>
            <div class="col-md-6 detail-section">
                <h3>Detail</h3>
                <hr>
                <ul class="detail">
                    <li>Gender of Candidate: {{ gender }}</li>
                    <li>Age range of Candidate :{{ lowage }} to {{ highage }} years</li>
                    <li>Emotion state of Candidate : {{ emotion }}</li>
                    {% if eyeglass %}
                        <li>Candidate has Eye Glass</li>
                    {% endif %}
                    {% if sunglasses %}
                        <li>Candidate has Sun Glass. </li>
                    {% endif %}
                    {% if mustache %}
                        <li>Candidate has Mustache</li>
                     {% endif %}
                     {% if mouthclose %}
                        <li>Candidate has Mouth Close.</li>
                     {% endif %}
                    {% if mouthopen %}
                        <li>Candidate has Mouth Open.</li>
                     {% endif %}
                </ul>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{##}
    <script>
        function setup() {
                document.getElementById('buttonid').addEventListener('click', openDialog);
                function openDialog() {
                    document.getElementById('id_image').click();
                }
                document.getElementById('id_image').addEventListener('change', submitForm);
                function submitForm(event) {
                    document.getElementById('output').src = URL.createObjectURL(event.target.files[0]);
                    console.log(URL.createObjectURL(event.target.files[0]))
                    document.getElementById('formid').submit();
                }
        }
     </script>

</body>

</html>